# Final Project

### 獲取歷史資料

In [5]:
from finlab.data import Data

data = Data()

rev = data.get("當月營收")
close = data.get("收盤價")

rev.index = rev.index.shift(5, "d")

In [6]:
t123 = data.get('土地')
t123.index

DatetimeIndex(['2013-05-15', '2013-08-14', '2013-11-14', '2014-03-31',
               '2014-05-15', '2014-08-14', '2014-11-14', '2015-03-31',
               '2015-05-15', '2015-08-14', '2015-11-14', '2016-03-31',
               '2016-05-15', '2016-08-14', '2016-11-14', '2017-03-31',
               '2017-05-15', '2017-08-14', '2017-11-14', '2018-03-31',
               '2018-05-15', '2018-08-14', '2018-11-14', '2019-03-31',
               '2019-05-15', '2019-08-14', '2019-11-14', '2020-03-31',
               '2020-05-15', '2020-08-14', '2020-11-14', '2021-03-31',
               '2021-05-15', '2021-08-14', '2021-11-14', '2022-03-31',
               '2022-05-15'],
              dtype='datetime64[ns]', name='date', freq=None)

### 計算features

In [19]:
import pandas as pd


def bias(n):
    return close / close.rolling(n, min_periods=1).mean()

def acc(n):
    return close.shift(n) / (close.shift(2*n) + close) * 2

def rsv(n):
    l = close.rolling(n, min_periods=1).min()
    h = close.rolling(n, min_periods=1).max()
    
    return (close - l) / (h - l)

def mom(n):
    return (rev / rev.shift(1)).shift(n)

fundamental_data = {
        
        # 獲利能力指標
        'R101_ROA稅後息前': R101_ROA稅後息前,
        'R11V_ROA綜合損益': R11V_ROA綜合損益,
        'R103_ROE稅後': R103_ROE稅後,
        'R11U_ROE綜合損益': R11U_ROE綜合損益,
        'R145_稅前息前折舊前淨利率': R145_稅前息前折舊前淨利率,
        'R105_營業毛利率': R105_營業毛利率,
        'R106_營業利益率': R106_營業利益率,
        'R107_稅前淨利率': R107_稅前淨利率,
        'R108_稅後淨利率': R108_稅後淨利率,
        'R112_業外收支營收率': R112_業外收支營收率,
        'R179_貝里比率': R179_貝里比率,
        
        # 成本費用率指標
        'R203_研究發展費用率': R203_研究發展費用率,
        'R205_現金流量比率': R205_現金流量比率,
        'R207_稅率': R207_稅率,
        
        # 償債能力指標
        'R304_每股營業額': R304_每股營業額,
        'R305_每股營業利益': R305_每股營業利益,
        'R303_每股現金流量': R303_每股現金流量,
        'R306_每股稅前淨利': R306_每股稅前淨利,
        'R314_每股綜合損益': R314_每股綜合損益,
        'R315_每股稅前淨利': R315_每股稅前淨利,
        'R316_每股稅後淨利': R316_每股稅後淨利,
        'R504_總負債除總淨值': R504_總負債除總淨值,
        'R505_負債比率': R505_負債比率,
        'R506_淨值除資產': R506_淨值除資產,
        
        # 成長率指標
        'R401_營收成長率': R401_營收成長率,
        'R402_營業毛利成長率': R402_營業毛利成長率,
        'R403_營業利益成長率': R403_營業利益成長率,
        'R404_稅前淨利成長率': R404_稅前淨利成長率,
        'R405_稅後淨利成長率': R405_稅後淨利成長率,
        'R406_經常利益成長率': R406_經常利益成長率,
        'R408_資產總額成長率': R408_資產總額成長率,
        'R409_淨值成長率': R409_淨值成長率,
        
        # 償債能力指標
        'R501_流動比率': R501_流動比率,
        'R502_速動比率': R502_速動比率,
        'R503_利息支出率': R503_利息支出率,
        'R678_營運資金': R678_營運資金,
        'R607_總資產週轉次數': R607_總資產週轉次數,
        'R610_存貨週轉率': R610_存貨週轉率,
        'R612_固定資產週轉次數': R612_固定資產週轉次數,
        'R613_淨值週轉率次': R613_淨值週轉率次,
        'R69B_自由現金流量': R69B_自由現金流量,
}

In [18]:
rsv(10)

stock_id,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2007-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-04-24,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,NaN,0.000000,0.000000,NaN,0.000000,1.000000
2007-04-25,0.000000,0.000000,0.000000,0.760000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,0.000000,1.000000,0.714286,1.0,0.000000,0.000000,NaN,1.000000,0.000000
2007-04-26,1.000000,0.200000,0.000000,0.800000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.461538,0.000000,1.000000,0.642857,0.0,0.000000,0.000000,NaN,0.937500,0.000000
2007-04-27,0.428571,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.307692,0.000000,1.000000,1.000000,0.0,0.000000,0.000000,NaN,0.843750,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-21,NaN,0.000000,0.000000,0.006993,0.000000,NaN,0.038760,0.000000,0.081818,NaN,...,0.600000,0.988889,0.055556,0.000000,0.0,0.000000,0.117647,1.0,0.812500,0.690476
2022-10-24,NaN,0.000000,0.153846,0.060606,0.024845,NaN,0.074074,0.047210,0.000000,NaN,...,0.866667,0.833333,0.266667,0.130435,0.0,0.000000,0.318182,1.0,0.571429,1.000000
2022-10-25,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.012346,0.000000,0.000000,NaN,...,0.800000,0.586207,0.375000,0.217391,0.0,0.000000,0.272727,1.0,0.428571,1.000000
2022-10-26,NaN,0.174757,0.000000,0.054545,0.108108,NaN,1.000000,0.003984,0.117647,NaN,...,0.666667,0.568966,0.250000,0.521739,0.0,0.000000,0.136364,1.0,0.000000,0.942857
2022-10-27,NaN,0.446602,0.647059,0.372727,0.355212,NaN,1.000000,0.071713,0.500000,NaN,...,0.666667,0.000000,0.571429,0.347826,0.0,0.018868,0.578947,1.0,0.000000,0.961538

In [13]:
import finlab.ml as ml

dataset = ml.fundamental_features()
dataset.head()

                     T3395營業利益  T7210營運現金流  T3950歸屬母公司淨利    T7211折舊  \
stock_id date
1101     2013-05-15  2026729.0   2274053.0     1911110.0  1571884.0
         2013-08-14  4588992.0   6029953.0      949640.0  1543041.0
         2013-11-14  5910634.0   5168764.0     5025600.0  1605424.0
         2014-03-31  5249620.0   8500835.0     6450131.0  2118671.0
         2014-05-15  3684224.0   6895832.0     4015175.0  1594505.0

                      T0100流動資產   T1100流動負債  T7324取得不動產廠房及設備  T3970經常稅後淨利  \
stock_id date
1101     2013-05-15  77246355.0  65913019.0        -211456.0    1999624.0
         2013-08-14  77139390.0  68971246.0       -1033541.0    3802105.0
         2013-11-14  77212043.0  73733391.0        -470935.0    5344662.0
         2014-03-31  87788055.0  70398494.0       -1089134.0    3972292.0
         2014-05-15  92121458.0  74388787.0        -940633.0    2791235.0

                     R101_ROA稅後息前  R11V_ROA綜合損益  ...  R409_淨值成長率   R501_流動比率  \
stock_id date                                    ...
1101     2013-05-15           NaN           NaN  ...         NaN  117.194382
         2013-08-14     -1.233843      0.944284  ...         NaN  111.842825
         2013-11-14     -1.130208      2.481737  ...         NaN  104.717879
         2014-03-31     -0.339410      3.102975  ...         NaN  124.701609
         2014-05-15     -1.732411      1.630076  ...     8.86688  123.837828

                      R502_速動比率  R503_利息支出率   R678_營運資金  R607_總資產週轉次數  \
stock_id date
1101     2013-05-15   83.137456   -8.186859  11333336.0           NaN
         2013-08-14   79.609613  -13.298556   8168144.0      0.104927
         2013-11-14   83.502774  -17.083477   3478652.0      0.110355
         2014-03-31  102.946688  -32.624816  17389561.0      0.119738
         2014-05-15  101.776758   -9.792979  17732671.0      0.093998

                     R610_存貨週轉率  R612_固定資產週轉次數  R613_淨值週轉率次  R69B_自由現金流量
stock_id date
1101     2013-05-15         NaN            NaN          NaN          NaN
         2013-08-14    2.279272       0.258545     0.201496    9467257.0
         2013-11-14    2.335831       0.272965     0.211719   12033719.0
         2014-03-31    2.763869       0.302962     0.222264   -6823797.0
         2014-05-15    2.191306       0.245688     0.171327    4901868.0

[5 rows x 48 columns]

In [14]:
dataset.columns
features = ['R103_ROE稅後', 'R402_營業毛利成長率']
dataset = dataset[features].dropna(how='any')
dataset.head()

                     R103_ROE稅後  R402_營業毛利成長率
stock_id date
1101     2014-05-15    1.789978     55.708493
         2014-08-14    3.158575     27.022920
         2014-11-14    3.279737     -5.396195
         2015-03-31    2.554910    -11.807846
         2015-05-15    0.601114    -41.181555

In [15]:
dataset.index = dataset.index.set_names(['stock_id','date'], level=[0,1])

In [16]:
dataset.head()

                     R103_ROE稅後  R402_營業毛利成長率
stock_id date
1101     2014-05-15    1.789978     55.708493
         2014-08-14    3.158575     27.022920
         2014-11-14    3.279737     -5.396195
         2015-03-31    2.554910    -11.807846
         2015-05-15    0.601114    -41.181555

In [9]:
rsv(240)

stock_id,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2007-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-04-24,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,NaN,0.000000,0.000000,NaN,0.000000,1.000000
2007-04-25,0.000000,0.000000,0.000000,0.760000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,0.000000,1.000000,0.714286,1.000000,0.000000,0.000000,NaN,1.000000,0.000000
2007-04-26,1.000000,0.200000,0.000000,0.800000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.461538,0.000000,1.000000,0.642857,0.000000,0.000000,0.000000,NaN,0.937500,0.000000
2007-04-27,0.428571,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.307692,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,NaN,0.843750,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-21,NaN,0.000000,0.000000,0.000861,0.000000,NaN,0.006702,0.000000,0.013720,NaN,...,0.180000,0.346470,0.011765,0.696078,0.377880,0.000000,0.012012,0.159944,0.330645,0.213333
2022-10-24,NaN,0.000000,0.017964,0.003442,0.001686,NaN,0.008043,0.010338,0.000000,NaN,...,0.220000,0.300493,0.047059,0.710784,0.377880,0.000000,0.021021,0.222531,0.330645,0.235556
2022-10-25,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.001340,0.000000,0.000000,NaN,...,0.210000,0.270936,0.035294,0.720588,0.377880,0.000000,0.018018,0.248957,0.322581,0.240000
2022-10-26,NaN,0.016275,0.000000,0.004975,0.011336,NaN,0.046917,0.000924,0.011679,NaN,...,0.190000,0.267652,0.023529,0.754902,0.308756,0.000000,0.009009,0.248957,0.290323,0.231111
2022-10-27,NaN,0.041591,0.072105,0.033997,0.037247,NaN,0.050938,0.016636,0.049635,NaN,...,0.220000,0.000000,0.058824,0.735294,0.308756,0.003759,0.042042,0.265647,0.282258,0.235556

In [7]:
from finlab.ml import fundamental_features
features = fundamental_features()

In [70]:
features

                     T3395營業利益  T7210營運現金流  T3950歸屬母公司淨利    T7211折舊  \
stock_id date
1101     2013-05-15  2026729.0   2274053.0     1911110.0  1571884.0
         2013-08-14  4588992.0   6029953.0      949640.0  1543041.0
         2013-11-14  5910634.0   5168764.0     5025600.0  1605424.0
         2014-03-31  5249620.0   8500835.0     6450131.0  2118671.0
         2014-05-15  3684224.0   6895832.0     4015175.0  1594505.0
...                        ...         ...           ...        ...
9962     2021-05-15     8016.0    149610.0        6847.0     5027.0
         2021-08-14    40404.0   -155514.0       41534.0     4813.0
         2021-11-14    48861.0   -435827.0       42439.0     4855.0
         2022-03-31    66532.0     74308.0       57469.0     4541.0
         2022-05-15    44919.0    304147.0       39436.0     4397.0

                      T0100流動資產   T1100流動負債  T7324取得不動產廠房及設備  T3970經常稅後淨利  \
stock_id date
1101     2013-05-15  77246355.0  65913019.0        -211456.0    1999624.0
         2013-08-14  77139390.0  68971246.0       -1033541.0    3802105.0
         2013-11-14  77212043.0  73733391.0        -470935.0    5344662.0
         2014-03-31  87788055.0  70398494.0       -1089134.0    3972292.0
         2014-05-15  92121458.0  74388787.0        -940633.0    2791235.0
...                         ...         ...              ...          ...
9962     2021-05-15    699386.0     76254.0          -3081.0       6607.0
         2021-08-14    976044.0    274123.0          -2374.0      37397.0
         2021-11-14   1420059.0    671731.0          -4677.0      40088.0
         2022-03-31   1413495.0    581642.0          -8826.0      56074.0
         2022-05-15   1217003.0    352094.0          -1292.0      37016.0

                     R101_ROA稅後息前  R11V_ROA綜合損益  ...  R409_淨值成長率   R501_流動比率  \
stock_id date                                    ...
1101     2013-05-15           NaN           NaN  ...         NaN  117.194382
         2013-08-14     -1.233843      0.944284  ...         NaN  111.842825
         2013-11-14     -1.130208      2.481737  ...         NaN  104.717879
         2014-03-31     -0.339410      3.102975  ...         NaN  124.701609
         2014-05-15     -1.732411      1.630076  ...    8.866880  123.837828
...                           ...           ...  ...         ...         ...
9962     2021-05-15      0.618888      0.636208  ...    1.131801  917.179427
         2021-08-14      3.243048      3.596651  ...    7.003658  356.060601
         2021-11-14      2.691891      2.839898  ...   11.206472  211.402928
         2022-03-31      3.352989      3.383973  ...   15.804715  243.018042
         2022-05-15      2.371942      2.484802  ...   19.138403  345.647185

                      R502_速動比率  R503_利息支出率   R678_營運資金  R607_總資產週轉次數  \
stock_id date
1101     2013-05-15   83.137456   -8.186859  11333336.0           NaN
         2013-08-14   79.609613  -13.298556   8168144.0      0.104927
         2013-11-14   83.502774  -17.083477   3478652.0      0.110355
         2014-03-31  102.946688  -32.624816  17389561.0      0.119738
         2014-05-15  101.776758   -9.792979  17732671.0      0.093998
...                         ...         ...         ...           ...
9962     2021-05-15  271.866394    1.005915    623132.0      0.380922
         2021-08-14  110.054975    0.178902    701921.0      0.594034
         2021-11-14   27.425413    0.432543    748328.0      0.428734
         2022-03-31   39.386083    1.907177    831853.0      0.503416
         2022-05-15   85.204235    2.087938    864909.0      0.525429

                     R610_存貨週轉率  R612_固定資產週轉次數  R613_淨值週轉率次  R69B_自由現金流量
stock_id date
1101     2013-05-15         NaN            NaN          NaN          NaN
         2013-08-14    2.279272       0.258545     0.201496    9467257.0
         2013-11-14    2.335831       0.272965     0.211719   12033719.0
         2014-03-31    2.763869       0.302962     0.222264   -6823797.0
         2014-05-15    2.191306       0.245688     0.171327    4901868.0
...                         ...            ...          ...          ...
9962     2021-05-15    0.726929       1.533102     0.435345      37994.0
         2021-08-14    1.150951       2.593983     0.710227     -34385.0
         2021-11-14    0.649981       2.435492     0.635698       2993.0
         2022-03-31    0.661852       3.250884     0.808212     -14303.0
         2022-05-15    0.758426       3.189613     0.753799       9429.0

[68968 rows x 48 columns]

In [73]:
t1 = features.reset_index(level=1)
#.groupby('stock_id')['T3395營業利益'].apply(lambda x: x.reindex(every_month))
#print(t1)
t1

,date,T3395營業利益,T7210營運現金流,T3950歸屬母公司淨利,T7211折舊,T0100流動資產,T1100流動負債,T7324取得不動產廠房及設備,T3970經常稅後淨利,R101_ROA稅後息前,...,R409_淨值成長率,R501_流動比率,R502_速動比率,R503_利息支出率,R678_營運資金,R607_總資產週轉次數,R610_存貨週轉率,R612_固定資產週轉次數,R613_淨值週轉率次,R69B_自由現金流量
stock_id,,,,,,,,,,,,,,,,,,,,,
1101,2013-05-15,2026729.0,2274053.0,1911110.0,1571884.0,77246355.0,65913019.0,-211456.0,1999624.0,NaN,...,NaN,117.194382,83.137456,-8.186859,11333336.0,NaN,NaN,NaN,NaN,NaN
1101,2013-08-14,4588992.0,6029953.0,949640.0,1543041.0,77139390.0,68971246.0,-1033541.0,3802105.0,-1.233843,...,NaN,111.842825,79.609613,-13.298556,8168144.0,0.104927,2.279272,0.258545,0.201496,9467257.0
1101,2013-11-14,5910634.0,5168764.0,5025600.0,1605424.0,77212043.0,73733391.0,-470935.0,5344662.0,-1.130208,...,NaN,104.717879,83.502774,-17.083477,3478652.0,0.110355,2.335831,0.272965,0.211719,12033719.0
1101,2014-03-31,5249620.0,8500835.0,6450131.0,2118671.0,87788055.0,70398494.0,-1089134.0,3972292.0,-0.339410,...,NaN,124.701609,102.946688,-32.624816,17389561.0,0.119738,2.763869,0.302962,0.222264,-6823797.0
1101,2014-05-15,3684224.0,6895832.0,4015175.0,1594505.0,92121458.0,74388787.0,-940633.0,2791235.0,-1.732411,...,8.866880,123.837828,101.776758,-9.792979,17732671.0,0.093998,2.191306,0.245688,0.171327,4901868.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9962,2021-05-15,8016.0,149610.0,6847.0,5027.0,699386.0,76254.0,-3081.0,6607.0,0.618888,...,1.131801,917.179427,271.866394,1.005915,623132.0,0.380922,0.726929,1.533102,0.435345,37994.0
9962,2021-08-14,40404.0,-155514.0,41534.0,4813.0,976044.0,274123.0,-2374.0,37397.0,3.243048,...,7.003658,356.060601,110.054975,0.178902,701921.0,0.594034,1.150951,2.593983,0.710227,-34385.0
9962,2021-11-14,48861.0,-435827.0,42439.0,4855.0,1420059.0,671731.0,-4677.0,40088.0,2.691891,...,11.206472,211.402928,27.425413,0.432543,748328.0,0.428734,0.649981,2.435492,0.635698,2993.0
9962,2022-03-31,66532.0,74308.0,57469.0,4541.0,1413495.0,581642.0,-8826.0,56074.0,3.352989,...,15.804715,243.018042,39.386083,1.907177,831853.0,0.503416,0.661852,3.250884,0.808212,-14303.0
9962,2022-05-15,44919.0,304147.0,39436.0,4397.0,1217003.0,352094.0,-1292.0,37016.0,2.371942,...,19.138403,345.647185,85.204235,2.087938,864909.0,0.525429,0.758426,3.189613,0.753799,9429.0

In [42]:
list1=sorted(features)
list1

['R101_ROA稅後息前',
 'R103_ROE稅後',
 'R105_營業毛利率',
 'R106_營業利益率',
 'R107_稅前淨利率',
 'R108_稅後淨利率',
 'R112_業外收支營收率',
 'R11U_ROE綜合損益',
 'R11V_ROA綜合損益',
 'R145_稅前息前折舊前淨利率',
 'R179_貝里比率',
 'R203_研究發展費用率',
 'R205_現金流量比率',
 'R207_稅率',
 'R303_每股現金流量',
 'R304_每股營業額',
 'R305_每股營業利益',
 'R306_每股稅前淨利',
 'R314_每股綜合損益',
 'R316_每股稅後淨利',
 'R401_營收成長率',
 'R402_營業毛利成長率',
 'R403_營業利益成長率',
 'R404_稅前淨利成長率',
 'R405_稅後淨利成長率',
 'R406_經常利益成長率',
 'R408_資產總額成長率',
 'R409_淨值成長率',
 'R501_流動比率',
 'R502_速動比率',
 'R503_利息支出率',
 'R504_總負債除總淨值',
 'R505_負債比率',
 'R506_淨值除資產',
 'R607_總資產週轉次數',
 'R610_存貨週轉率',
 'R612_固定資產週轉次數',
 'R613_淨值週轉率次',
 'R678_營運資金',
 'R69B_自由現金流量',
 'T0100流動資產',
 'T1100流動負債',
 'T3395營業利益',
 'T3950歸屬母公司淨利',
 'T3970經常稅後淨利',
 'T7210營運現金流',
 'T7211折舊',
 'T7324取得不動產廠房及設備']

### 製作dataset

##### 設定買賣頻率

In [46]:
every_month = t123.index
every_month

DatetimeIndex(['2013-05-15', '2013-08-14', '2013-11-14', '2014-03-31',
               '2014-05-15', '2014-08-14', '2014-11-14', '2015-03-31',
               '2015-05-15', '2015-08-14', '2015-11-14', '2016-03-31',
               '2016-05-15', '2016-08-14', '2016-11-14', '2017-03-31',
               '2017-05-15', '2017-08-14', '2017-11-14', '2018-03-31',
               '2018-05-15', '2018-08-14', '2018-11-14', '2019-03-31',
               '2019-05-15', '2019-08-14', '2019-11-14', '2020-03-31',
               '2020-05-15', '2020-08-14', '2020-11-14', '2021-03-31',
               '2021-05-15', '2021-08-14', '2021-11-14', '2022-03-31',
               '2022-05-15'],
              dtype='datetime64[ns]', name='date', freq=None)

In [1]:
features.items()

NameError: name 'features' is not defined

In [9]:
features.index = features.index.set_names(['stock_id','date'], level=[0,1])

AttributeError: 'dict' object has no attribute 'index'

##### 將dataframe 組裝起來

In [48]:
# features['bias20'].reindex(every_month, method='ffill')

for name, f in features.items():
    features[name] = f.reindex(every_month, method='ffill')

ValueError: cannot include dtype 'M' in a buffer

In [ ]:

for name, f in features.items():
    features[name] = f.unstack()

In [ ]:
import pandas as pd
dataset = pd.DataFrame(features)

In [ ]:
feature_names = list(dataset.columns)

### 新增 label

In [ ]:
from finlab import ml

ml.add_profit_prediction(dataset)
ml.add_rank_prediction(dataset)

### 刪除太大太小的歷史資料

In [ ]:
print(dataset.shape)

def drop_extreme_case(dataset, feature_names, thresh=0.01):
    
    extreme_cases = pd.Series(False, index=dataset.index)
    for f in feature_names:
        tf = dataset[f]
        extreme_cases = extreme_cases | (tf < tf.quantile(thresh)) | (tf > tf.quantile(1-thresh))
    dataset = dataset[~extreme_cases]
    return dataset

dataset_drop_extreme_case = drop_extreme_case(dataset, list1, thresh=0.01)

print(dataset_drop_extreme_case.shape)

In [ ]:
dataset_dropna = dataset_drop_extreme_case.dropna(how='any')
dataset_dropna = dataset_dropna.reset_index().set_index("date")

In [ ]:
dataset_drop_extreme_case.index.get_level_values("date")

In [ ]:
dataset_train = dataset_dropna.loc[:'2021']
dataset_test = dataset_dropna.loc['2022':]

### 神經網路模型

In [ ]:
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import initializers

import os

os.environ['KMP_DUPLICATE_LIB_OK']='True'

model = keras.models.Sequential()
model.add(layers.Dense(100, activation='relu',
                      input_shape=(len(feature_names),),
                      kernel_initializer=initializers.he_normal(seed=0)))
model.add(layers.Dense(100, activation='relu',
                      kernel_initializer=initializers.he_normal(seed=0)))
model.add(layers.Dropout(0.7))
model.add(layers.Dense(1, activation='sigmoid'))


model.summary()

model.compile(loss='mean_squared_error',
              optimizer="adam",)

print('start fitting')
history = model.fit(dataset_train[feature_names], dataset_train['rank'],
                    batch_size=1000,
                    epochs=225,
                    verbose=1,
                    validation_split=0.1, )

### 結果

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.plot(history.history['val_loss'][1:])
plt.plot(history.history['loss'][1:])

### lightgbm Model

In [ ]:
import lightgbm as lgb
cf = lgb.LGBMRegressor(n_estimators=500)
cf.fit(dataset_train[feature_names].astype(float), dataset_train['rank'])

### Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor

cf2 = RandomForestRegressor(n_estimators=100)
cf2.fit(dataset_train[feature_names].astype(float), dataset_train['rank'])

In [ ]:
feature_imp = pd.DataFrame(zip(cf.feature_importances_, feature_names), 
                           columns=['Value','Feature']).sort_values('Value', ascending=False)
feature_imp

%matplotlib inline
import seaborn as sns
sns.barplot(x="Value", y="Feature", data=feature_imp)

### Ensemble learning

In [ ]:
dataset_drop = dataset.dropna(subset=feature_names+['return'])

vals = model.predict(dataset_drop[feature_names].astype(float))
dataset_drop['result1'] = pd.Series(vals.swapaxes(0,1)[0], dataset_drop.index)

vals = cf.predict(dataset_drop[feature_names].astype(float))
dataset_drop['result2'] = pd.Series(vals, dataset_drop.index)

vals = cf2.predict(dataset_drop[feature_names].astype(float))
dataset_drop['result3'] = pd.Series(vals, dataset_drop.index)

dataset_drop = dataset_drop.reset_index().set_index("date")

# backtest

In [ ]:
import math


dates = sorted(list(set(dataset_drop.index)))

rs = []
for d in dates:
    
    dataset_time = dataset_drop.loc[d]
    
    dataset_time = drop_extreme_case(dataset_time, list1, thresh=0.01)
    
    rank = dataset_time['result1'] + dataset_time['result2'] + dataset_time['result3'] 
    
    condition = (rank >= rank.nlargest(20).iloc[-1]) 
    r = dataset_time['return'][condition].mean()

    rs.append(r * (1-3/1000-1.425/1000*2*0.6))

rs = pd.Series(rs, index=dates)['2021':].cumprod()

s0050 = close['0050']['2021':]

pd.DataFrame({'nn strategy return':rs.reindex(s0050.index, method='ffill'), '0050 return':s0050/s0050[0]}).plot()

### 當月持股狀況

In [ ]:
dataset.index.levels[1]

In [ ]:
# get the latest dataset
last_date = "2022-09-10"#dataset.index.levels[1].max()
is_last_date = dataset.index.get_level_values('date') == last_date
last_dataset = dataset[is_last_date].copy()


last_dataset = drop_extreme_case(last_dataset, list1, thresh=0.01)


# remove NaN testcases
last_dataset = last_dataset.dropna(subset=feature_names)

# predict

vals = model.predict(last_dataset[feature_names].astype(float))
last_dataset['result1'] = pd.Series(vals.swapaxes(0,1)[0], last_dataset.index)

vals = cf.predict(last_dataset[feature_names].astype(float))
last_dataset['result2'] = pd.Series(vals, last_dataset.index)

vals = cf2.predict(last_dataset[feature_names].astype(float))
last_dataset['result3'] = pd.Series(vals, last_dataset.index)

# calculate score

rank = last_dataset['result1'] + last_dataset['result2'] + last_dataset['result3']
condition = (rank >= rank.nlargest(20).iloc[-1]) 

# plot rank distribution
rank.hist(bins=20)


# show the best 20 stocks
slist1 = rank[condition].reset_index()['stock_id']

# 平均分配資產於股票之中

In [ ]:
close = data.get("收盤價")

money = 1000000
stock_prices = close[rank[condition].reset_index()['stock_id']].iloc[-1]


print("股票平分張數:")
money / len(stock_prices) / stock_prices / 1000

In [ ]:
##############################################################################

In [10]:
import math

pbr = data.get("股價淨值比")
pbr=pbr.reindex(every_month, method='ffill').fillna(method='ffill')#對應訓練資料集索引日期,fillna處理na數值
#date欄位
dates = sorted(list(set(dataset_test.index)))
rs = []
rs2 = []
for d in dates:
    dataset_time = dataset_test.loc[d]
    rank = dataset_time['result1'] + dataset_time['result2'] + dataset_time['result3']
    condition = (rank >= rank.nlargest(20).iloc[-1])
    r = dataset_time['return'][condition].mean()
    
    pbr_s=pbr.loc[d]
    dataset_time=dataset_time[condition].reset_index()#解除索引
    dataset_time=dataset_time.set_index('stock_id')
    dataset_time['pbr']=pbr_s
    dataset_time['pbr_rank'] = dataset_time['pbr'].rank(pct=True)
    dataset_time=dataset_time[dataset_time['pbr_rank']<0.25]
    r2 = dataset_time['return'].mean()
    #算報酬率
    rs.append(r * (1-3/1000-1.425/1000*2*0.6))
    rs2.append(r2 * (1-3/1000-1.425/1000*2*0.6))
rs = pd.Series(rs, index=dates).cumprod()
rs2 = pd.Series(rs2, index=dates).cumprod()#pe濾網的報酬

s0050 = close['0050']['2016']
#繪圖
plt.rcParams["figure.figsize"] = (16,12)
pd.DataFrame({'nn strategy return':rs.reindex(s0050.index, method='ffill'),
'Include Pbr strategy return':rs2.reindex(s0050.index, method='ffill'), 
'0050 return':s0050/s0050[0]}).plot()
可以幫我看看出了什麼問題嗎?


股東權益 = data.get('歸屬於母公司業主之權益合計')
股本 = data.get('普通股股本')
def 股價淨值比(n):

    return close.reindex(股本.index, method='ffill')/(股東權益 / 股本)/10

股價淨值比=股價淨值比.reindex(every_month, method='ffill').fillna(method='ffill')#對應訓練資料集索引日期,fillna處理na數值
#date欄位
dates = sorted(list(set(dataset_drop.index)))
rs = []
rs2 = []#裝pe濾網報酬率資訊
for d in dates:
    dataset_time = dataset_drop.loc[d]
    rank = dataset_time['result1'] + dataset_time['result2'] + dataset_time['result3']
    condition = (rank >= rank.nlargest(20).iloc[-1])
    r = dataset_time['return'][condition].mean()
    
    股價淨值比_s=股價淨值比.loc[d]
    dataset_time=dataset_time[condition].reset_index()
    dataset_time=dataset_time.set_index('stock_id')
    dataset_time['股價淨值比']=股價淨值比_
    dataset_time['股價淨值比_rank'] = dataset_time['股價淨值比'].rank(pct=True)
    dataset_time=dataset_time[dataset_time['股價淨值比_rank']<0.25]
    r2 = dataset_time['return'].mean()#
    #算報酬率
    rs.append(r * (1-3/1000-1.425/1000*2*0.6))
    rs2.append(r2 * (1-3/1000-1.425/1000*2*0.6))
rs = pd.Series(rs, index=dates)['2015':].cumprod()
rs2 = pd.Series(rs2, index=dates)['2015':].cumprod()

s0050 = close['0050']['2016']
#繪圖
plt.rcParams["figure.figsize"] = (12,8)
pd.DataFrame({'nn strategy return':rs.reindex(s0050.index, method='ffill'),
'Include 股價淨值比 strategy return':rs2.reindex(s0050.index, method='ffill'), #
'0050 return':s0050/s0050[0]}).plot()

NameError: name 'dataset_test' is not defined

In [78]:
import math

#新增本益比數據
pe = data.get("本益比")
pe=pe.reindex(every_month, method='ffill').fillna(method='ffill')#對應訓練資料集索引日期,fillna處理na數值

#date欄位
dates = sorted(list(set(dataset_test.index)))
rs = []
rs2 = []

for d in dates:
    dataset_time = dataset_test.loc[d]
    rank = dataset_time['result1'] + dataset_time['result2'] + dataset_time['result3']
    condition = (rank >= rank.nlargest(20).iloc[-1]) 
    r = dataset_time['return'][condition].mean()
    
    #有人想加pe濾網
    pe_s=pe.loc[d]#帶入日期到本益比資料
    dataset_time=dataset_time[condition].reset_index()
    dataset_time=dataset_time.set_index('stock_id')
    dataset_time['pe']=pe_s
    dataset_time['pe_rank'] = dataset_time['pe'].rank(pct=True)#增加本益比排行欄位(百分比模式)
    dataset_time=dataset_time[dataset_time['pe_rank']<0.7]#找低本益比的前50%
    r2 = dataset_time['return'].mean()#本益比濾網報酬率
    
    #算報酬率
    rs.append(r * (1-3/1000-1.425/1000*2*0.6))
    rs2.append(r2 * (1-3/1000-1.425/1000*2*0.6))

rs = pd.Series(rs, index=dates).cumprod()
rs2 = pd.Series(rs2, index=dates).cumprod()

s0050 = close['0050']['2016':]

#繪圖
plt.rcParams["figure.figsize"] = (12,8)
pd.DataFrame({'nn strategy return':rs.reindex(s0050.index, method='ffill'), 
              'Include PE strategy return':rs2.reindex(s0050.index, method='ffill'), 
              '0050 return':s0050/s0050[0]}).plot()

NameError: name 'dataset_test' is not defined

In [21]:
import requests
from io import StringIO
import pandas as pd
import numpy as np
from tqdm import tqdm
# from .financial_statement import html2db
def crawl_mclean_futures(date):
    
    datestr = date.strftime('%Y/%m/%d')    
    headers = {
    'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:2.0.1) Gecko/2010010' \
    '1 Firefox/4.0.1',
    'Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
    'Accept-Language':'en-us,en;q=0.5',
    'Accept-Charset':'ISO-8859-1,utf-8;q=0.7,*;q=0.7'}
    
    url = 'https://www.taifex.com.tw/cht/3/futContractsDateDown'
    payload = {
    'firstDate': '2016/01/22 00:00',
    'lastDate': '2019/01/22 00:00',
    'queryStartDate': datestr,
    'queryEndDate': datestr,
    'commodityId':''}
    try:
        res = requests.post(url,data=payload,headers = headers)
    except:
        print('**WARRN: cannot get 期貨未平倉口數 at', datestr)
        return None
    df = pd.read_csv(StringIO(res.text))
    if len(df) == 14:
        return None
    else:
        df1 = df.groupby('商品名稱').get_group('臺股期貨')
        df2 = df.groupby('商品名稱').get_group('小型臺指期貨')
        df3 = df1.iloc[1:2,13:14]
        df3 = df3.rename(columns={'多空未平倉口數淨額':'大台指多空未平倉口數淨額(投顧)'})
        df4 = df1.iloc[2:3,13:14]
        df4 = df4.rename(columns={'多空未平倉口數淨額':'大台指多空未平倉口數淨額(外陸資)'})
        df5 = df2.iloc[1:2,13:14]
        df5 = df5.rename(columns={'多空未平倉口數淨額':'小台指多空未平倉口數淨額(投顧)'})
        df6 = df2.iloc[2:3,13:14]
        df6 = df6.rename(columns={'多空未平倉口數淨額':'小台指多空未平倉口數淨額(外陸資)'})
        df3 = df3.reset_index(drop=True)
        df4 = df4.reset_index(drop=True)
        df5 = df5.reset_index(drop=True)
        df6 = df6.reset_index(drop=True)
        
    url1 = 'https://www.taifex.com.tw/cht/3/largeTraderFutDown'   
    payload1 = {
    'queryStartDate': datestr,
    'queryEndDate': datestr}
    try:
        res1 = requests.post(url1,data=payload1,headers = headers,timeout=30)
    except:
        print('**WARRN: cannot get 期貨大額交易人未沖銷部位 at', datestr)
        return None    
    df7 = pd.read_csv(StringIO(res1.text))
    if len(df7) == 14:
        return None
    else:
        df8 = df7.groupby('商品(契約)').get_group('TX     ')
        df9 = df8.iloc[2:3,7:9]
        df9 = df9.rename(columns={'前十大交易人買方':'當月契約前十大交易人買方(期貨大額交易人未沖銷部位)','前十大交易人賣方':'當月契約前十大交易人賣方(期貨大額交易人未沖銷部位)'})
        df10 = df8.iloc[4:5,7:9]
        df10 = df10.rename(columns={'前十大交易人買方':'所有契約前十大交易人買方(期貨大額交易人未沖銷部位)','前十大交易人賣方':'所有契約前十大交易人賣方(期貨大額交易人未沖銷部位)'})
        df9 = df9.reset_index(drop=True)
        df10 = df10.reset_index(drop=True)
        df9 = df9.astype(int)
        df10 = df10.astype(int)
        
    url2 = 'https://www.taifex.com.tw/cht/3/callsAndPutsDateDown' 
    payload2 = {
    'firstDate': '2016/01/23 00:00',
    'lastDate': '2019/01/23 00:00',
    'queryStartDate': datestr,
    'queryEndDate': datestr,
    'commodityId':'' }
    try:
        res2 = requests.post(url2,data=payload2,headers = headers,timeout=30)
    except:
        print('**WARRN: cannot get 台指選擇權未平倉契約金額買賣淨額 at', datestr)
        return None    
    df11 = pd.read_csv(StringIO(res2.text))
    if len(df11) == 14:
        return None
    else:
        df12 = df11.groupby('商品名稱').get_group('臺指選擇權')
        df13 = df12.iloc[0:1,15:16]
        df13 = df13.rename(columns={'未平倉契約金額買賣淨額(千元)':'台指選擇權_自營商買權未平倉契約金額買賣淨額(千元)'})
        df14 = df12.iloc[2:3,15:16]
        df14 = df14.rename(columns={'未平倉契約金額買賣淨額(千元)':'台指選擇權_外陸資買權未平倉契約金額買賣淨額(千元)'})
        df15 = df12.iloc[3:4,15:16]
        df15 = df15.rename(columns={'未平倉契約金額買賣淨額(千元)':'台指選擇權_自營商賣權未平倉契約金額買賣淨額(千元)'})
        df16 = df12.iloc[5:6,15:16]
        df16 = df16.rename(columns={'未平倉契約金額買賣淨額(千元)':'台指選擇權_外陸資賣權未平倉契約金額買賣淨額(千元)'})
        df13 = df13.reset_index(drop=True)
        df14 = df14.reset_index(drop=True)
        df15 = df15.reset_index(drop=True)
        df16 = df16.reset_index(drop=True)
    datestr = date.strftime('%Y/%m/%d')    
    headers = {
    'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:2.0.1) Gecko/2010010' \
    '1 Firefox/4.0.1',
    'Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
    'Accept-Language':'en-us,en;q=0.5',
    'Accept-Charset':'ISO-8859-1,utf-8;q=0.7,*;q=0.7'}
    
    url3 = 'http://www.taifex.com.tw/cht/3/pcRatioDown'
    payload = {
        'down_type': '',
        'queryStartDate': datestr,
        'queryEndDate': datestr,
    }
    try:
        res3 = requests.post(url3,data=payload,headers = headers)
    except:
        print('**WARRN: cannot get 選擇權p/c ratio at', datestr)
        return None
    df18 = pd.read_csv(StringIO(res3.text))
    if len(df18) == 0:
        return None
    else:
        df18 = df18.reset_index(drop=True)
        df18 = df18.rename(columns={'買權未平倉量':'P/C_Ratio(買賣權未平倉)'})
        df18 = df18.drop(columns=['日期','賣權成交量','買權成交量','買賣權成交量比率%','賣權未平倉量','買賣權未平倉量比率%'])
    datestr = date.strftime('%Y/%m/%d')    
    headers = {
    'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:2.0.1) Gecko/2010010' \
    '1 Firefox/4.0.1',
    'Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
    'Accept-Language':'en-us,en;q=0.5',
    'Accept-Charset':'ISO-8859-1,utf-8;q=0.7,*;q=0.7'}
    
    url4 = 'http://www.taifex.com.tw/cht/3/futDataDown'
    payload={
        'down_type': '1',
        'commodity_id': 'MTX',
        'commodity_id2':'' ,
        'queryStartDate': datestr,
        'queryEndDate': datestr
    }
    try:
        res4 = requests.post(url4,data=payload,headers = headers)
    except:
        print('**WARRN: cannot get 小台指每日交易行情 at', datestr)
        return None
    df19 = pd.read_csv(StringIO(res4.text))
    if len(df) == 0:
        return None
    else:
        df19 = df19.apply(lambda s: s.replace('-', '0'))
        df19 = df19.drop(columns=['契約','到期月份(週別)','開盤價','最高價','最低價','收盤價','漲跌價','漲跌%','成交量','未沖銷契約數','最後最佳買價','最後最佳賣價','歷史最高價','歷史最低價','是否因訊息面暫停交易','交易時段','價差對單式委託成交量'])
        df19 = df19.rename(columns={'結算價':'小台指當日未沖銷契約'})
        df19[['小台指當日未沖銷契約']] = df19[['小台指當日未沖銷契約']].astype(int)
        df19 = df19.groupby('交易日期').sum()
        df19 = df19.reset_index(drop=True)
    datestr = date.strftime('%Y/%m/%d')    
    headers = {
    'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:2.0.1) Gecko/2010010' \
    '1 Firefox/4.0.1',
    'Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
    'Accept-Language':'en-us,en;q=0.5',
    'Accept-Charset':'ISO-8859-1,utf-8;q=0.7,*;q=0.7'}
    
    url5 = 'https://www.taifex.com.tw/cht/3/futContractsDateDown'
    payload = {
    'firstDate': '2016/01/22 00:00',
    'lastDate': '2019/01/22 00:00',
    'queryStartDate': datestr,
    'queryEndDate': datestr,
    'commodityId':''}
    try:
        res5 = requests.post(url5,data=payload,headers = headers)
    except:
        print('**WARRN: cannot get 期貨未平倉口數 at', datestr)
        return None
    df20 = pd.read_csv(StringIO(res5.text))
    if len(df20) == 14:
        return None
    else:
        df20 = df20.groupby('商品名稱').get_group('小型臺指期貨')
        df21 = df20.iloc[0:1,9:10]
        df21 = df21.rename(columns={'多方未平倉口數':'小台指多方未平倉口數(自營商)'})
        df22 = df20.iloc[0:1,11:12]
        df22 = df22.rename(columns={'空方未平倉口數':'小台指空方未平倉口數(自營商)'})
        df23 = df20.iloc[1:2,9:10]
        df23 = df23.rename(columns={'多方未平倉口數':'小台指多方未平倉口數(投信)'})
        df24 = df20.iloc[1:2,11:12]
        df24 = df24.rename(columns={'空方未平倉口數':'小台指空方未平倉口數(投信)'})
        df25 = df20.iloc[2:3,9:10]
        df25 = df25.rename(columns={'多方未平倉口數':'小台指多方未平倉口數(外資)'})
        df26 = df20.iloc[2:3,11:12]
        df26 = df26.rename(columns={'空方未平倉口數':'小台指空方未平倉口數(外資)'})
        df21 = df21.reset_index(drop=True)
        df22 = df22.reset_index(drop=True)
        df23 = df23.reset_index(drop=True)
        df24 = df24.reset_index(drop=True)
        df25 = df25.reset_index(drop=True)
        df26 = df26.reset_index(drop=True)   
        df27 = pd.concat([df3,df4,df5,df6,df9,df10,df13,df14,df15,df16,df18,df21,df22,df23,df24,df25,df26],axis = 1)
        df27['外陸資期貨未平倉口數'] = df4['大台指多空未平倉口數淨額(外陸資)'] + df6['小台指多空未平倉口數淨額(外陸資)']/4
        df27['當月契約前十大交易人看法(期貨大額交易人未沖銷部位)'] = df9['當月契約前十大交易人買方(期貨大額交易人未沖銷部位)'] - df9['當月契約前十大交易人賣方(期貨大額交易人未沖銷部位)']
        df27['所有契約前十大交易人看法(期貨大額交易人未沖銷部位)'] = df10['所有契約前十大交易人買方(期貨大額交易人未沖銷部位)'] - df10['所有契約前十大交易人賣方(期貨大額交易人未沖銷部位)']
        df27['前十大交易人未來看法(期貨大額交易人未沖銷部位)'] = df27['所有契約前十大交易人看法(期貨大額交易人未沖銷部位)'] - df27['當月契約前十大交易人看法(期貨大額交易人未沖銷部位)']
        df27['小台指看多口數'] = df19['小台指當日未沖銷契約'] - df21['小台指多方未平倉口數(自營商)'] - df23['小台指多方未平倉口數(投信)'] - df25['小台指多方未平倉口數(外資)']
        df27['小台指看空口數'] = df19['小台指當日未沖銷契約'] - df22['小台指空方未平倉口數(自營商)'] - df24['小台指空方未平倉口數(投信)'] - df26['小台指空方未平倉口數(外資)']
        df27['散戶多空比(%)'] = (df27['小台指看多口數'] - df27['小台指看空口數']) / df19['小台指當日未沖銷契約']*100
        df27['stock_id'] ='taifex'
        df27['date'] = pd.to_datetime(date)
        df27 = df27.set_index(['stock_id', 'date'])
        df27 = df27.rename(columns={'P/C_Ratio(買賣權未平倉)':'PC_Ratio_買賣權未平倉','前十大交易人未來看法(期貨大額交易人未沖銷部位)':'前十大交易人未來看法_期貨大額交易人未沖銷部位','台指選擇權_外陸資買權未平倉契約金額買賣淨額(千元)':'台指選擇權_外陸資買權未平倉契約金額買賣淨額_千元','台指選擇權_外陸資賣權未平倉契約金額買賣淨額(千元)':'台指選擇權_外陸資賣權未平倉契約金額買賣淨額_千元','台指選擇權_自營商買權未平倉契約金額買賣淨額(千元)':'台指選擇權_自營商買權未平倉契約金額買賣淨額_千元', '台指選擇權_自營商賣權未平倉契約金額買賣淨額(千元)': '台指選擇權_自營商賣權未平倉契約金額買賣淨額_千元','大台指多空未平倉口數淨額(外陸資)':'大台指多空未平倉口數淨額_外陸資','大台指多空未平倉口數淨額(投顧)':'大台指多空未平倉口數淨額_投顧','小台指多方未平倉口數(外資)':'小台指多方未平倉口數_外資','小台指多方未平倉口數(投信)':'小台指多方未平倉口數_投信','小台指多方未平倉口數(自營商)':'小台指多方未平倉口數_自營商','小台指多空未平倉口數淨額(外陸資)':'小台指多空未平倉口數淨額_外陸資','小台指多空未平倉口數淨額(投顧)':'小台指多空未平倉口數淨額_投顧','小台指空方未平倉口數(外資)':'小台指空方未平倉口數_外資','小台指空方未平倉口數(投信)':'小台指空方未平倉口數_投信','小台指空方未平倉口數(自營商)':'小台指空方未平倉口數_自營商','所有契約前十大交易人看法(期貨大額交易人未沖銷部位)':'所有契約前十大交易人看法_期貨大額交易人未沖銷部位','所有契約前十大交易人買方(期貨大額交易人未沖銷部位)':'所有契約前十大交易人買方_期貨大額交易人未沖銷部位','所有契約前十大交易人賣方(期貨大額交易人未沖銷部位)':'所有契約前十大交易人賣方_期貨大額交易人未沖銷部位','散戶多空比(%)':'散戶多空比_百分比','當月契約前十大交易人看法(期貨大額交易人未沖銷部位)':'當月契約前十大交易人看法_期貨大額交易人未沖銷部位','當月契約前十大交易人買方(期貨大額交易人未沖銷部位)':'當月契約前十大交易人買方_期貨大額交易人未沖銷部位','當月契約前十大交易人賣方(期貨大額交易人未沖銷部位)':'當月契約前十大交易人賣方_期貨大額交易人未沖銷部位'})
     
        return df27

In [20]:
df27

NameError: name 'df27' is not defined