# 新版資料庫

搭啷！這個就是我們新版的資料庫，新增了
* 殖利率
* 三大法人
* 上櫃所有股票
* 更快速的存取方式

In [1]:
from finlab.crawler import (

    # 爬蟲們
    crawl_price,
    crawl_bargin,
    crawl_pe,
    crawl_monthly_report,
    crawl_finance_statement_by_date,
    crawl_twse_divide_ratio,
    crawl_otc_divide_ratio,
    crawl_twse_cap_reduction,
    crawl_otc_cap_reduction,
    crawl_benchmark,
    
    # 時間的range
    date_range,
    month_range,
    season_range,
    
    # GUI介面
    widget, out,
)

widget('price', crawl_price, date_range)
widget('bargin_report', crawl_bargin, date_range)
widget('pe', crawl_pe, date_range)
widget('monthly_report', crawl_monthly_report, month_range)
widget('benchmark', crawl_benchmark, date_range)
widget('financial_statement', crawl_finance_statement_by_date, season_range)
widget('twse_divide_ratio', crawl_twse_divide_ratio)
widget('otc_divide_ratio', crawl_otc_divide_ratio)
widget('twse_cap_reduction', crawl_twse_cap_reduction)
widget('otc_cap_reduction', crawl_otc_cap_reduction)

out.clear_output()
display(out)

VBox(children=(Label(value='price | 2022-08-24 00:00:00 ~ 2022-11-21 00:00:00'), HBox(children=(DatePicker(val…

VBox(children=(Label(value='bargin_report | 2012-05-02 00:00:00 ~ 2022-11-21 00:00:00'), HBox(children=(DatePi…

VBox(children=(Label(value='pe | 2010-01-04 00:00:00 ~ 2022-11-21 00:00:00'), HBox(children=(DatePicker(value=…

VBox(children=(Label(value='monthly_report | 2005-02-10 00:00:00 ~ 2022-11-10 00:00:00'), HBox(children=(DateP…

VBox(children=(Label(value='benchmark | 2006-01-02 09:00:00 ~ 2022-11-21 13:30:00'), HBox(children=(DatePicker…

VBox(children=(Label(value='financial_statement | 2013-05-15 00:00:00 ~ 2022-05-15 00:00:00'), HBox(children=(…

VBox(children=(Label(value='twse_divide_ratio | 2004-01-13 00:00:00 ~ 2022-10-31 00:00:00'), HBox(children=(Bu…

VBox(children=(Label(value='otc_divide_ratio | 2008-01-10 00:00:00 ~ 2022-10-25 00:00:00'), HBox(children=(But…

VBox(children=(Label(value='twse_cap_reduction | 2011-01-25 00:00:00 ~ 2022-10-31 00:00:00'), HBox(children=(B…

VBox(children=(Label(value='otc_cap_reduction | 2013-01-16 00:00:00 ~ 2022-10-31 00:00:00'), HBox(children=(Bu…

Output(layout=Layout(border='1px solid black'))

In [2]:
from finlab.crawler import commit
commit()

已經成功commit過 balance_sheet 了，跳過！
已經成功commit過 bargin_report 了，跳過！
已經成功commit過 benchmark 了，跳過！
已經成功commit過 cash_flows 了，跳過！
已經成功commit過 forign_hold_ratio 了，跳過！
已經成功commit過 income_sheet 了，跳過！
已經成功commit過 income_sheet_cumulate 了，跳過！
已經成功commit過 monthly_report 了，跳過！
已經成功commit過 otc_cap_reduction 了，跳過！
已經成功commit過 otc_divide_ratio 了，跳過！
已經成功commit過 pe 了，跳過！
已經成功commit過 price 了，跳過！
已經成功commit過 twse_cap_reduction 了，跳過！
已經成功commit過 twse_divide_ratio 了，跳過！

In [4]:
from finlab.data import Data

data = Data()

close = data.get('收盤價')
close.head()

stock_id,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2007-04-23,9.54,57.85,32.83,38.40,NaN,NaN,NaN,NaN,NaN,NaN,...,31.0,30.35,9.78,73.6,13.25,51.3,72.4,NaN,46.0,49.6
2007-04-24,9.54,58.10,32.99,38.65,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,30.50,9.91,75.0,13.25,50.5,71.6,NaN,45.9,50.4
2007-04-25,9.52,57.60,32.80,38.59,NaN,NaN,NaN,NaN,NaN,NaN,...,32.3,29.50,10.10,74.6,13.30,49.9,71.6,NaN,49.1,49.1
2007-04-26,9.59,57.70,32.80,38.60,NaN,NaN,NaN,NaN,NaN,NaN,...,31.6,29.15,10.80,74.5,13.25,49.5,71.0,NaN,48.9,48.0
2007-04-27,9.55,57.50,32.72,38.40,NaN,NaN,NaN,NaN,NaN,NaN,...,31.4,28.50,11.55,75.7,13.15,48.8,69.5,NaN,48.6,46.5

## 1. 資料調用

In [4]:
import pandas as pd
df = pd.read_pickle("history/tables/price.pkl")
df.tail()

                       成交股數 成交筆數      成交金額    收盤價    開盤價    最低價    最高價 最後揭示買價  \
stock_id date
9962 有益  2022-11-15  862484  437  14452669  16.90  16.50  16.50  16.90  16.85
         2022-11-16  851482  377  14217344  16.70  16.90  16.40  17.00  16.70
         2022-11-17  243307  128   4047117  16.65  16.65  16.55  16.80  16.60
         2022-11-18  255168  145   4206113  16.40  16.65  16.40  16.65  16.35
         2022-11-21  116657   92   1904937  16.30  16.35  16.25  16.40  16.30

                    最後揭示賣價
stock_id date
9962 有益  2022-11-15  16.90
         2022-11-16  16.75
         2022-11-17  16.65
         2022-11-18  16.40
         2022-11-21  16.35

## 2. 分解上述的功能

### 2.A 分解其中的功能 crawl_function

In [5]:
import datetime
from finlab.crawler import crawl_price
df = crawl_price(datetime.date(2019,1,2))
df.tail()

1 None

D:\Finlab\用 Python 理財：打造自己的 AI 股票理專\finlab\crawler.py:826: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  twe = twe[otc.columns & twe.columns]

,,成交股數,成交筆數,成交金額,收盤價,開盤價,最低價,最高價,最後揭示買價,最後揭示賣價
stock_id,date,,,,,,,,,
9950 萬國通,2019-01-02,3000,3,40250,13.40,13.45,13.40,13.45,13.40,13.60
9951 皇田,2019-01-02,254063,231,20228019,79.00,80.10,79.00,80.10,79.00,79.20
9960 邁達康,2019-01-02,2036,36,62030,29.95,31.00,29.95,31.00,29.80,30.85
9962 有益,2019-01-02,81000,27,920850,11.45,11.55,11.30,11.55,11.40,11.45
4415 台原藥,2019-01-02,0,0,0,---,---,---,---,3.71,4.05

### 2.B 分解其中功能 time_range

In [7]:
season_range(datetime.date(2018,1,2), datetime.date(2019,1,10))

[datetime.date(2018, 3, 31),
 datetime.date(2018, 5, 15),
 datetime.date(2018, 8, 14),
 datetime.date(2018, 11, 14)]

### 2.C 將功能組裝起來 widget

In [6]:
widget("price", crawl_price, date_range)

VBox(children=(Label(value='price | 2022-08-24 00:00:00 ~ 2022-11-21 00:00:00'), HBox(children=(DatePicker(val…

## 3. 做一些小修改，方便我們之後做財經資料研究

In [9]:
from finlab.crawler import commit

commit()

已經成功commit過 twse_divide_ratio 了，跳過！
已經成功commit過 income_sheet 了，跳過！
已經成功commit過 twse_cap_reduction 了，跳過！
已經成功commit過 otc_cap_reduction 了，跳過！
已經成功commit過 bargin_report 了，跳過！
已經成功commit過 price 了，跳過！
已經成功commit過 pe 了，跳過！
已經成功commit過 benchmark 了，跳過！
已經成功commit過 cash_flows 了，跳過！
已經成功commit過 income_sheet_cumulate 了，跳過！
已經成功commit過 otc_divide_ratio 了，跳過！
已經成功commit過 monthly_report 了，跳過！
已經成功commit過 balance_sheet 了，跳過！

## 4. 將做完修改的資料拿出來

In [7]:
df = pd.read_pickle("history/items/price/收盤價.pkl")
df.tail()

stock_id,0050,0051,0052,0053,0055,0056,0057,0061,1101,1102,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2022-11-15,114.70,54.35,98.05,56.60,22.38,25.55,81.65,18.25,33.85,40.75,...,20.50,45.50,11.80,18.70,11.5,60.7,18.35,81.8,25.50,16.90
2022-11-16,114.50,51.70,98.50,55.05,21.32,25.53,81.75,18.16,32.90,40.50,...,20.30,44.25,11.70,18.95,10.8,60.7,18.05,81.9,25.55,16.70
2022-11-17,114.55,51.80,98.50,54.90,21.18,25.58,81.70,17.86,34.25,41.45,...,20.45,43.95,11.75,NaN,11.1,61.9,18.50,82.0,25.65,16.65
2022-11-18,114.25,51.75,98.45,55.15,21.03,25.43,81.45,17.95,33.30,41.25,...,20.50,44.45,11.70,18.95,10.7,62.6,18.35,79.5,25.45,16.40
2022-11-21,113.85,51.60,97.70,54.70,21.13,25.22,80.80,17.65,32.85,41.05,...,20.25,44.10,11.70,18.80,11.2,62.5,18.35,86.3,25.15,16.30

In [11]:
close = data.get("收盤價")
close

NameError: name 'data' is not defined

# AUTO update 每日自動執行更新

有時候你可能會希望將所有的程式

每天自動執行就好，不然還要開jupyter -> 啟動notebook -> 執行GUI -> 點擊好幾次GUI

才能完成更新的動作
.
接下來我們就來教怎麼樣直接一次更新吧！

In [1]:
from finlab.crawler import table_date_range, update_table, to_pickle, commit
import datetime
from inspect import signature
from finlab.crawler import (

    # 爬蟲們
    crawl_price,
    crawl_bargin,
    crawl_pe,
    crawl_monthly_report,
    crawl_finance_statement_by_date,
    crawl_twse_divide_ratio,
    crawl_otc_divide_ratio,
    crawl_twse_cap_reduction,
    crawl_otc_cap_reduction,
    crawl_benchmark,
    
    # 時間的range
    date_range,
    month_range,
    season_range,
    
    # GUI介面
    widget, out,
)

def auto_update(table_name, crawl_function, time_range=None):

    sig = signature(crawl_function)
    print(table_name)

    if len(sig.parameters) != 0:
        first_date, last_date = table_date_range(table_name)
        dates = time_range(last_date, datetime.datetime.now())
        if dates:
            update_table(table_name, crawl_function, dates)
    else:
        df = crawl_function()
        to_pickle(df, table_name)
        

auto_update('price', crawl_price, date_range)
auto_update('bargin_report', crawl_bargin, date_range)
auto_update('pe', crawl_pe, date_range)
auto_update('monthly_report', crawl_monthly_report, month_range)
auto_update('twse_divide_ratio', crawl_twse_divide_ratio)
auto_update('otc_divide_ratio', crawl_otc_divide_ratio)
auto_update('twse_cap_reduction', crawl_twse_cap_reduction)
auto_update('otc_cap_reduction', crawl_otc_cap_reduction)

commit()

price
bargin_report
pe
monthly_report
twse_divide_ratio
read pickle
append pickle
remove duplicates
sort index
save pickle
save date
twse_divide_ratio
twse_divide_ratio -- 資料日期
twse_divide_ratio -- 股票代號
twse_divide_ratio -- 股票名稱
twse_divide_ratio -- 除權息前收盤價
twse_divide_ratio -- 除權息參考價
twse_divide_ratio -- 權值+息值
twse_divide_ratio -- 權/息
twse_divide_ratio -- 漲停價格
twse_divide_ratio -- 跌停價格
twse_divide_ratio -- 開盤競價基準
twse_divide_ratio -- 減除股利參考價
twse_divide_ratio -- 詳細資料
twse_divide_ratio -- 最近一次申報資料 季別/日期
twse_divide_ratio -- 最近一次申報每股 (單位)淨值
twse_divide_ratio -- 最近一次申報每股 (單位)盈餘
twse_divide_ratio -- twse_divide_ratio
otc_divide_ratio
read pickle
append pickle
remove duplicates
sort index
save pickle
save date
otc_divide_ratio
otc_divide_ratio -- 除權息日期
otc_divide_ratio -- 代號
otc_divide_ratio -- 名稱
otc_divide_ratio -- 除權息前收盤價
otc_divide_ratio -- 除權息參考價
otc_divide_ratio -- 權值
otc_divide_ratio -- 息值
otc_divide_ratio -- 權+息值
otc_divide_ratio -- 權/息
otc_divide_ratio -- 漲停價格
otc_divide_ratio -- 跌停價格
otc_divide_ratio -- 開盤競價基準
otc_divide_ratio -- 減除股利參考價
otc_divide_ratio -- 現金股利
otc_divide_ratio -- 每千股無償配股
otc_divide_ratio -- -
otc_divide_ratio -- 現金增資股數
otc_divide_ratio -- 現金增資認購價
otc_divide_ratio -- 公開承銷股數
otc_divide_ratio -- 員工認購股數
otc_divide_ratio -- 原股東認購數
otc_divide_ratio -- 按持股比例千股認購
otc_divide_ratio -- otc_divide_ratio
twse_cap_reduction
read pickle
append pickle
remove duplicates
sort index
save pickle
save date
twse_cap_reduction
twse_cap_reduction -- 恢復買賣日期
twse_cap_reduction -- 股票代號
twse_cap_reduction -- 名稱
twse_cap_reduction -- 停止買賣前收盤價格
twse_cap_reduction -- 恢復買賣參考價
twse_cap_reduction -- 漲停價格
twse_cap_reduction -- 跌停價格
twse_cap_reduction -- 開盤競價基準
twse_cap_reduction -- 除權參考價
twse_cap_reduction -- 減資原因
twse_cap_reduction -- 詳細資料
twse_cap_reduction -- twse_cap_divide_ratio
otc_cap_reduction
read pickle
append pickle
remove duplicates
sort index
save pickle
save date
otc_cap_reduction
otc_cap_reduction -- 恢復買賣日期
otc_cap_reduction -- 股票代號
otc_cap_reduction -- 股票名稱
otc_cap_reduction -- 最後交易之收盤價格
otc_cap_reduction -- 減資恢復買賣開始日參考價格
otc_cap_reduction -- 漲停價格
otc_cap_reduction -- 跌停價格
otc_cap_reduction -- 開始交易基準價
otc_cap_reduction -- 除權參考價
otc_cap_reduction -- 減資源因
otc_cap_reduction -- 詳細資料
otc_cap_reduction -- otc_cap_divide_ratio
已經成功commit過 balance_sheet 了，跳過！
已經成功commit過 bargin_report 了，跳過！
已經成功commit過 benchmark 了，跳過！
已經成功commit過 cash_flows 了，跳過！
已經成功commit過 forign_hold_ratio 了，跳過！
已經成功commit過 income_sheet 了，跳過！
已經成功commit過 income_sheet_cumulate 了，跳過！
已經成功commit過 monthly_report 了，跳過！
已經成功commit過 otc_cap_reduction 了，跳過！
已經成功commit過 otc_divide_ratio 了，跳過！
已經成功commit過 pe 了，跳過！
已經成功commit過 price 了，跳過！
已經成功commit過 twse_cap_reduction 了，跳過！
已經成功commit過 twse_divide_ratio 了，跳過！

## 加入新的benchmark data

In [ ]:
# 時間物件
import datetime
import requests
import pandas as pd
from io import StringIO


# 下載某天的資料

date = datetime.date(2018,1,3)

def crawl_benchmark(date):
    date_str = date.strftime('%Y%m%d')
    res = requests.get("http://www.twse.com.tw/exchangeReport/MI_5MINS_INDEX?response=csv&date=" + 
                       date_str + "&_=1544020420045")
    
    if len(res.text) < 100:
        print('holiday')
        return pd.DataFrame()

    # 利用 pandas 將資料整理成表格
    df = pd.read_csv(StringIO(res.text.replace("=","")), header=1, index_col='時間')

    # 資料處理
    df = df.dropna(how='all', axis=0).dropna(how='all', axis=1)
    df.index = pd.to_datetime(date.strftime('%Y %m %d ') + pd.Series(df.index))
    df = df.apply(lambda s: s.astype(str).str.replace(",", "").astype(float))

    df.head()

    df.index.name = 'date'
    df = df.reset_index()
    df['stock_id'] = '台股指數'
    df = df.set_index(['stock_id', 'date'])
    return df

from finlab.crawler import widget, date_range, out

widget('benchmark', crawl_benchmark, date_range)

out.clear_output()
display(out)

## 查看存放好的benchmark data

In [ ]:
from finlab.crawler import commit

commit()

In [ ]:
from finlab.data import Data

data = Data()

df = data.get("發行量加權股價指數")
df.head()